head {
  display: none;
}

body {
  font-family: "Source Sans Pro";
  background-color: #faf3e0;
  display: block;
  margin: 0px;
}

a.navbar {
  text-decoration: none;
  border-radius: 5px;
}

.navbar a {
  text-decoration: none;
  color: black;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eabf9f;
  padding: 8px 12px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.navbar_logo a {
  font-size: 24px;
}

.navbar_logo i {
  font-size: 24px;
}

.navbar_menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar_menu li {
  padding: 8px 12px;
  display: flex;
  font-size: 20px;
}

.navbar_menu li:hover {
  background-color: lightblue;
  border-radius: 5px;
}

.navbar_icons {
  list-style: none;
  display: flex;
  padding-left: 0;
}

.navbar_icons i {
  font-size: 20px;
}

.navbar_icons li {
  padding: 8px 12px;
  margin-left: auto;
  margin-right: auto;
}

.navbar_toggleBtn {
  position: absolute;
  right: 32px;
  display: none;
}

.navbar_toggleBtn i {
  font-size: 24px;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
  }

  .navbar_menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .navbar_menu li {
    width: 100%;
    text-align: center;
  }

  .navbar_icons {
    display: none;
    justify-content: center;
    width: 100%;
  }

  .navbar_toggleBtn {
    display: block;
  }

  .navbar_menu.active,
  .navbar_icons.active {
    display: flex;
  }
}

.header {
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-weight: bold;
  margin-top: 2cm;
}

.priorExp {
  margin-top: 1cm;
  display: flex;
  justify-content: center;
  margin-bottom: 5cm;
}

.prior_exp_logo_1 img {
  width: 200px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 30px;
  border: solid white 5px;
  border-radius: 50%;
}

.prior_exp_logo_2 img {
  width: 200px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 30px;
  border: solid white 5px;
  border-radius: 50%;
}

.prior_exp_logo_3 img {
  width: 200px;
  margin-left: 50px;
  margin-right: 50px;
  padding: 30px;
  border: solid white 5px;
  border-radius: 50%;
}
